<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921942528823-08fp1uf5vstmm4htjjre09qb2pasvrou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921942528823-08fp1uf5vstmm4htjjre09qb2pasvrou</string>
	<key>API_KEY</key>
	<string>AIzaSyC3A8EFwZPMfbQg5GqtILcfJT2i7uJGxtg</string>
	<key>GCM_SENDER_ID</key>
	<string>921942528823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signin</string>
	<key>PROJECT_ID</key>
	<string>signin-104a9</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-104a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921942528823:ios:bca612417013242df9c0b2</string>
</dict>
</plist>